.build
	.container
		.row
			.col-xs-12
				h2.text__h2.build__title
					| Мы строим
				ul.build__body
					//- ul.build__tabs.build-tabs
					.build__tabs.build__tabs
						li.build-tabs__tab.active
							a(href="#build-tab-1" data-toggle="tab").build-tabs__link
								| бРУСОВЫЕ ДОМА
						li.build-tabs__tab
							a(href="#build-tab-2" data-toggle="tab").build-tabs__link
								| Каркасные ДОМА
						li.build-tabs__tab
							a(href="#build-tab-3" data-toggle="tab").build-tabs__link
								| ДОМА без отделки
						li.build-tabs__tab
							a(href="#build-tab-4" data-toggle="tab").build-tabs__link
								| Бани из бруса
						li.build-tabs__tab
							a(href="#build-tab-5" data-toggle="tab").build-tabs__link
								| перевозные бани
						li.build-tabs__tab
							a(href="#build-tab-6" data-toggle="tab").build-tabs__link
								| Бани бочки
					.build__contents.tab-content
						.build__content.build-content.tab-pane.fade.in.active#build-tab-1
							.build-content__container
								.build-content__desc
									p
										| Современные деревянные коттеджи обладают всеми конкурентными преимуществами, делающими их широко востребованными на рынке загородного жилья. Экологически чистые жилые сооружения из высококачественной древесины, заготовленной в зимнее время в северных регионах страны, обеспечивают комфортное и безопасное проживание семьи. Предлагаем деревянные коттеджи из профилированного бруса сечением 150х150 мм для застройки в различных регионах страны. Использование современных теплоизоляционных технологий позволяет уменьшать толщину стен и добиваться комфорта экономичности использования теплоносителей.  Осуществляем строительство деревянных коттеджей из бруса под ключ по готовым проектам, которые подходят как для постоянного проживания, так и для сезонной эксплуатации
								.build-content__pr
									img(src="images/build-pr.png", alt="Дом из бруса", width="487", height="294")
									.build-content__price
										| от 300 000 
										.fa.fa-rub
							footer.build-content__foo
								a.btn.btn_theme_green.btn_type_build
									| Проекты домов из бруса
						.build__content.build-content.tab-pane.fade#build-tab-2
							.build-content__container
								.build-content__desc
									p
										| Современные деревянные коттеджи обладают всеми конкурентными преимуществами, делающими их широко востребованными на рынке загородного жилья. Экологически чистые жилые сооружения из высококачественной древесины, заготовленной в зимнее время в северных регионах страны, обеспечивают комфортное и безопасное проживание семьи. Предлагаем деревянные коттеджи из профилированного бруса сечением 150х150 мм для застройки в различных регионах страны. Использование современных теплоизоляционных технологий позволяет уменьшать толщину стен и добиваться комфорта экономичности использования теплоносителей.  Осуществляем строительство деревянных коттеджей из бруса под ключ по готовым проектам, которые подходят как для постоянного проживания, так и для сезонной эксплуатации
								.build-content__pr
									img(src="images/build-pr.png", alt="Дом из бруса", width="487", height="294")
									.build-content__price
										| от 300 000 
										.fa.fa-rub
							footer.build-content__foo
								a.btn.btn_theme_green.btn_type_build
									| Проекты домов из бруса
						.build__content.build-content.tab-pane.fade#build-tab-3
							.build-content__container
								.build-content__desc
									p
										| Современные деревянные коттеджи обладают всеми конкурентными преимуществами, делающими их широко востребованными на рынке загородного жилья. Экологически чистые жилые сооружения из высококачественной древесины, заготовленной в зимнее время в северных регионах страны, обеспечивают комфортное и безопасное проживание семьи. Предлагаем деревянные коттеджи из профилированного бруса сечением 150х150 мм для застройки в различных регионах страны. Использование современных теплоизоляционных технологий позволяет уменьшать толщину стен и добиваться комфорта экономичности использования теплоносителей.  Осуществляем строительство деревянных коттеджей из бруса под ключ по готовым проектам, которые подходят как для постоянного проживания, так и для сезонной эксплуатации
								.build-content__pr
									img(src="images/build-pr.png", alt="Дом из бруса", width="487", height="294")
									.build-content__price
										| от 300 000 
										.fa.fa-rub
							footer.build-content__foo
								a.btn.btn_theme_green.btn_type_build
									| Проекты домов из бруса
						.build__content.build-content.tab-pane.fade#build-tab-3
							.build-content__container
								.build-content__desc
									p
										| Современные деревянные коттеджи обладают всеми конкурентными преимуществами, делающими их широко востребованными на рынке загородного жилья. Экологически чистые жилые сооружения из высококачественной древесины, заготовленной в зимнее время в северных регионах страны, обеспечивают комфортное и безопасное проживание семьи. Предлагаем деревянные коттеджи из профилированного бруса сечением 150х150 мм для застройки в различных регионах страны. Использование современных теплоизоляционных технологий позволяет уменьшать толщину стен и добиваться комфорта экономичности использования теплоносителей.  Осуществляем строительство деревянных коттеджей из бруса под ключ по готовым проектам, которые подходят как для постоянного проживания, так и для сезонной эксплуатации
								.build-content__pr
									img(src="images/build-pr.png", alt="Дом из бруса", width="487", height="294")
									.build-content__price
										| от 300 000 
										.fa.fa-rub
							footer.build-content__foo
								a.btn.btn_theme_green.btn_type_build
									| Проекты домов из бруса
						.build__content.build-content.tab-pane.fade#build-tab-5
							.build-content__container
								.build-content__desc
									p
										| Современные деревянные коттеджи обладают всеми конкурентными преимуществами, делающими их широко востребованными на рынке загородного жилья. Экологически чистые жилые сооружения из высококачественной древесины, заготовленной в зимнее время в северных регионах страны, обеспечивают комфортное и безопасное проживание семьи. Предлагаем деревянные коттеджи из профилированного бруса сечением 150х150 мм для застройки в различных регионах страны. Использование современных теплоизоляционных технологий позволяет уменьшать толщину стен и добиваться комфорта экономичности использования теплоносителей.  Осуществляем строительство деревянных коттеджей из бруса под ключ по готовым проектам, которые подходят как для постоянного проживания, так и для сезонной эксплуатации
								.build-content__pr
									img(src="images/build-pr.png", alt="Дом из бруса", width="487", height="294")
									.build-content__price
										| от 300 000 
										.fa.fa-rub
							footer.build-content__foo
								a.btn.btn_theme_green.btn_type_build
									| Проекты домов из бруса
						.build__content.build-content.tab-pane.fade#build-tab-6
							.build-content__container
								.build-content__desc
									p
										| Современные деревянные коттеджи обладают всеми конкурентными преимуществами, делающими их широко востребованными на рынке загородного жилья. Экологически чистые жилые сооружения из высококачественной древесины, заготовленной в зимнее время в северных регионах страны, обеспечивают комфортное и безопасное проживание семьи. Предлагаем деревянные коттеджи из профилированного бруса сечением 150х150 мм для застройки в различных регионах страны. Использование современных теплоизоляционных технологий позволяет уменьшать толщину стен и добиваться комфорта экономичности использования теплоносителей.  Осуществляем строительство деревянных коттеджей из бруса под ключ по готовым проектам, которые подходят как для постоянного проживания, так и для сезонной эксплуатации
								.build-content__pr
									img(src="images/build-pr.png", alt="Дом из бруса", width="487", height="294")
									.build-content__price
										| от 300 000 
										.fa.fa-rub
							footer.build-content__foo
								a.btn.btn_theme_green.btn_type_build
									| Проекты домов из бруса