.choose
	.container
		.row
			.col-xs-12
				h2.text__h2.choose__title
					b
						| 5
					|  ПРИЧИН ВЫБРАТЬ НАС
				.choose__items.clearfix
					.choose__item
						.choose-item
							.choose-item__pr
								.i-choose-1
							.choose-item__title
								| Свое производство сухого и клееного бруса
					.choose__item
						.choose-item
							.choose-item__pr
								.i-choose-2
							.choose-item__title
								| Свои строительные бригады, строим сами, а не  продаем заказы подрядчикам
					.choose__item
						.choose-item
							.choose-item__pr
								.i-choose-3
							.choose-item__title
								| строим по проектам разработанным профессиональным архитектором
					.choose__item
						.choose-item
							.choose-item__pr
								.i-choose-4
							.choose-item__title
								| Работаем только по договору с гарантийными обязательствами
					.choose__item
						.choose-item
							.choose-item__pr
								.i-choose-5
							.choose-item__title
								| Бесплатная доставка до Москвы и санкт-петербурга
				.choose__slogan
					| Больше преимуществ у наших консультантов!
				a.choose__btn.btn.btn_theme_green.btn_type_choose
					| Заказать звонок консультанта
