.description
	.container
		.row
			.col-xs-12
				.divider
				h2.text__h2.description__title
					| СТРОИТЕЛЬСТВО ЖИЛЫХ ДЕРЕВЯННЫХ ДОМОВ
				.description__text
					p.text__p
						| Современные деревянные коттеджи обладают всеми конкурентными преимуществами, делающими их широко востребованными на рынке загородного жилья. Экологически чистые жилые сооружения из высококачественной древесины, заготовленной в зимнее время в северных регионах страны, обеспечивают комфортное и безопасное проживание семьи. Предлагаем деревянные коттеджи из профилированного бруса сечением 150х150 мм для застройки в различных регионах страны. Использование современных теплоизоляционных технологий позволяет уменьшать толщину стен и добиваться комфорта экономичности использования теплоносителей.
					p.text__p
						| Осуществляем строительство деревянных коттеджей из бруса под ключ по готовым проектам, которые подходят как для постоянного проживания, так и для сезонной эксплуатации сооружения.  Все проекты коттеджей из дерева проходят обязательную экспертизу на соответственные современным требованиям безопасности жизнедеятельности человека. Доступные цены строительства коттеджей из бруса позволят решить жилищную проблему широкому кругу заинтересованных потребителей.