footer.foo
	.container
		.row
			.col-xs-12
				.foo__container
					.foo__column.foo__column_address
						.foo-address
							h4.text__h4.foo-address__title
								| Наши адреса
							ul.foo-address__info
								li.foo-address__item
									| г. Великий Новгород ул. Б. Московская д.109
								li.foo-address__item
									| г.Москва улица Хлобыстова 17 Строительный рынок Альтаир
								li.foo-address__item
									| г. Санкт-Петербург ул.Стрельбищенская, 16 Волковский рынок
								li.foo-address__item.foo-address__item_copy
									| © 2016 «Стройте У Нас»
								li.foo-address__item.foo-address__item_small
									| Информация на сайте не является публичной офертой.
					.foo__column.foo__column_contacts
						.contacts-foo
							.contacts-foo__phone
								| +7 (950) 684-38-03
							.contacts-foo__city
								| Поменять город:
								a.contacts-foo__city-link(href="#")
									| Москва
							a.btn.btn_theme_green.btn_size_sm.contacts-foo__btn(href="#")
								| ЗАКАЗАТЬ ЗВОНОК
							.contacts-foo__divider
							.contacts-foo__social.social
								a.social__link(href="#")
									i.i-social-vk
								a.social__link(href="#")
									i.i-social-ok
								a.social__link(href="#")
									i.i-social-yt
								a.social__link(href="#")
									i.i-social-fb
					.foo__column.foo__column_nav
						.foo-nav
							h4.text__h4.foo-nav__title
								| Проекты
							ul.foo-nav__list
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Дома из бруса
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Каркасные дома
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Бани из бруса
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Переврзные бани
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Бани бочки
						.foo-nav
							h4.text__h4.foo-nav__title
								| Услуги
							ul.foo-nav__list
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Фундаменты
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Заборы
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Печи и отопление
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Технический надзор

