include mixin.jade
.foundation
	.container
		.row
			.col-xs-12
				h2.text__h2.foundation__title
					| Фундаменты
				.service__items
					.service__item
						+foundation-item("ЛЕНТОЧНЫЙ ФУНДАМЕНТ", 1)
					.service__item
						+foundation-item("Свайно- винтовой фундамент", 2)
					.service__item
						+foundation-item("Столбчатый фундамент", 3)