include mixin.jade

.galleries
	.container
		.row
			.col-xs-12
				.gallery-grid
					.gallery-grid__item
						+galleries-item(1)
					.gallery-grid__item
						+galleries-item(2)
					.gallery-grid__item
						+galleries-item(3)
					.gallery-grid__item
						+galleries-item(4)
					.gallery-grid__item
						+galleries-item(5)
					.gallery-grid__item
						+galleries-item(6)
