.gallery
	.container
		.row
			.col-xs-12
				.clearfix
					.divider
				h2.text__h2.gallery__title
					| Галерея проекта
				.gallery-grid
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(1)
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(2)
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(3)

					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(1)
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(2)
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(3)
					
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(1)
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(2)
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(3)
					
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(1)
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(2)
					.gallery-grid__item.gallery-grid__item_sm
						+gallery-item(3)