.info-delivery
	p.info-delivery__text
		| Современные деревянные коттеджи обладают всеми конкурентными преимуществами, делающими их широко востребованными на рынке загородного жилья. Экологически чистые жилые сооружения из высококачественной древесины, заготовленной в зимнее время в северных регионах страны, обеспечивают комфортное и безопасное проживание семьи.
	.info-delivery__map
		div(style="height: 712px; background: gray;")
	.info-delivery__a-b
		| Пестово 
		.i-maps-arrow-right
		|  Луга :
		span.info-delivery__km
			| 390 км
	.info-delivery__mark
		| Предоставляется бесплатная доставка
	a.info-delivery__btn.btn.btn_theme_yellow
		| Получить бесплатную консультацию
.hidden
		.info-delivery__a-b.info-delivery__a-b_popup
			| Пестово 
			.i-maps-arrow-bottom.info-delivery__arrow
			|  Луга :
			span.info-delivery__km.info-delivery__km_popup
				| 390 км
			.info-delivery__mark.info-delivery__mark_popup
				| бесплатная доставка