.main-slider
	.clearfix
		.container
			.row
				.col-xs-12
					.main-slider__arrows
	.main-slider__items
		.main-slider__item(style="background-image: url(images/bg-main-slider-1.jpg)")
			.container
				.row
					.col-xs-12
						.main-slider__layout
							a.fancy(href="images/main-slider-layout.jpg")
								img.main-slider__layout-pr(src="images/main-slider-layout.jpg", alt="Планировка дома", width="220", height="119")
							.main-slider__layout-title
								| Посмотреть планировку
						.main-slider__main
							a.main-slider__more.btn.btn_theme_yellow.btn_type_more(href="#")
								| пОБРОБНЕЕ О проекте
		.main-slider__item(style="background-image: url(images/bg-main-slider-1.jpg)")
			.container
				.row
					.col-xs-12
						.main-slider__layout
							a.fancy(href="images/main-slider-layout.jpg")
								img.main-slider__layout-pr(src="images/main-slider-layout.jpg", alt="Планировка дома", width="220", height="119")
							.main-slider__layout-title
								| Посмотреть планировку
						.main-slider__main
							a.main-slider__more.btn.btn_theme_yellow.btn_type_more(href="#")
								| пОБРОБНЕЕ О проекте
		.main-slider__item(style="background-image: url(images/bg-main-slider-1.jpg)")
			.container
				.row
					.col-xs-12
						.main-slider__layout
							a.fancy(href="images/main-slider-layout.jpg")
								img.main-slider__layout-pr(src="images/main-slider-layout.jpg", alt="Планировка дома", width="220", height="119")
							.main-slider__layout-title
								| Посмотреть планировку
						.main-slider__main
							a.main-slider__more.btn.btn_theme_yellow.btn_type_more(href="#")
								| пОБРОБНЕЕ О проекте
