.maps#map
.hidden
	#maps-gallery-1
		.maps-gallery
			.maps-gallery__title
				| Дом каркасный
				br
				| г. Боровичи, ул. Физкультуры
			.maps-gallery__items
				a.maps-gallery__item.fancy(href="images/maps-gallery-1.jpg" data-fancybox-group="maps-gallery-group-1")
					img(src="images/maps-gallery-1.jpg", alt="")
				a.maps-gallery__item.fancy(href="images/maps-gallery-2.jpg" data-fancybox-group="maps-gallery-group-1")
					img(src="images/maps-gallery-2.jpg", alt="")
				a.maps-gallery__item.fancy(href="images/maps-gallery-3.jpg" data-fancybox-group="maps-gallery-group-1")
					img(src="images/maps-gallery-3.jpg", alt="")
				a.maps-gallery__item.fancy(href="images/maps-gallery-4.jpg" data-fancybox-group="maps-gallery-group-1")
					img(src="images/maps-gallery-4.jpg", alt="")
				a.maps-gallery__item.fancy(href="images/maps-gallery-5.jpg" data-fancybox-group="maps-gallery-group-1")
					img(src="images/maps-gallery-5.jpg", alt="")
				a.maps-gallery__item.fancy(href="images/maps-gallery-6.jpg" data-fancybox-group="maps-gallery-group-1")
					img(src="images/maps-gallery-6.jpg", alt="")
			a.maps-gallery__more(href="#")
				| Подробнее...