nav.nav
	.container
		.row
			.col-xs-12
				.visible-xs
					.nav__mobile-container
						.nav__icon
							span
							span
							span
						form.header__column.header__column_search(action="./")
							.search
								input.search__input(type="text", placeholder="Поиск")
								button.btn.btn_theme_yellow.btn_type_search()
									.i-search
				ul.nav__container
					li.nav__item
						a(href="#").nav__link
							| Проекты
					li.nav__item
						a(href="#").nav__link
							| Услуги
					li.nav__item
						a(href="#").nav__link.nav__link_action
							| Акции
					li.nav__item
						a(href="#").nav__link
							| Галерея
					li.nav__item
						a(href="#").nav__link
							| О нас
					li.nav__item
						a(href="#").nav__link
							| галерея
					li.nav__item
						a(href="#").nav__link
							| отзывы
					li.nav__item
						a(href="#").nav__link
							| Контакты
