.news
	.container
		.row
			.col-xs-12
				.clearfix
					.divider
				h2.text__h2.news__title
					| Новости \ статьи
				.news__items
					.news__item
						+news-item()
					.news__item
						+news-item()
					.news__item
						+news-item()
					.news__item
						+news-item()
