.numbers
	header.numbers__header
		.container
			.row
				.col-xs-12
					.clearfix
						.divider
					h2.text__h2.numbers__title
						| Строим от москвы до санкт-петербурга
	.numbers__body.clearfix
		.container
			.row
				.col-xs-12
					.numbers__items
						.numbers__item.numbers-item
							.numbers-item__title
								| ОПЫТ РАБОТЫ более
							.numbers-item__desc
								| 15 лет
						.numbers__item.numbers-item
							.numbers-item__title
								| выполнено заказов
							.numbers-item__desc
								| 157
						.numbers__item.numbers-item
							.numbers-item__title
								| проектов в каталоге
							.numbers-item__desc
								| 457
						.numbers__item.numbers-item
							.numbers-item__title
								| довольных клиентов
							.numbers-item__desc
								| ВСЕ :)


