include mixin.jade
.service
	.container
		.row
			.col-xs-12
				h2.text__h2.service__title.service__title_project
					| дОПОЛНИТЕЛЬНЫЕ УСЛУГИ
				.service__items
					.service__item
						+service-item("ЛЕНТОЧНЫЙ ФУНДАМЕНТ", 1)
					.service__item
						+service-item("ПРоектирование объектов", 2)
					.service__item
						+service-item("Отделка домов и бань", 3)
