.projects-article
	.container
		.row
			.col-xs-12
				.clearfix
					.divider
				h2.text__h2.projects-article__title
					| оТЗЫВЫ НАШИХ КЛИЕНТОВ
				.projects-article__text
					p.projects-article__p
						| Проект «В Брусе» объединяет собой несколько ключевых направлений работы группы компаний Новтехника, который позволяет строить частные дома по схеме «от производителя» — «под ключ» напрямую. Мы занимаемся профессиональным проектированием и строительством брусовых домов и бань и предоставлением сопутствующих услуг: производством профилированного бруса, установкой фундаментов, продажей печного оборудования, отделкой и благоустройством загородных участков.
					h3.text__h5
						| Комплексный подход позволяет:
					ul.text__ul
						li
							| ускорить процесс строительства,
						li
							| сэкономить время на поиски подрядчика,
						li
							| свести к минимуму общение с исполнителями,
						li
							| сэкономить приличную сумму при строительстве.
					p.projects-article__p
						| С нами очень просто сотрудничать: оставляете заявку на эл. почте 
						a.text__mailto(href="mailto:vbruserf@yandex.ru")
							| vbruserf@yandex.ru
						| , с вами связывается наш менеджер. Его задача — проконсультировать клиента по всем интересующим вопросам, подобрать подходящие варианты, согласовать проект, подготовить договор, принять оплату и сопровождать выполнение заказа вплоть до подписания акта приемки объекта.
					p.projects-article__p
						b
							| Регионы строительства:
						|  Москва (есть выставочная площадка), Санкт-Петербург (выставочная площадка), Великий Новгород (производство, магазины, выставочная площадка), остальные области Центрального и Северо-Западного регионов (выезжаем только на строительство, представительств нет).
					p.projects-article__p
						b
							| Сроки строительства:
						|  12-20 дней без выходных.