.reviews-msg
	.container
		.row
			.col-xs-12
				.clearfix
					.divider
				h2.text__h2.reviews-msg__title
					| Отзывы
				.reviews-msg__body
					.reviews-msg__item.reviews-msg-item
						.reviews-msg-item__left
							.reviews-msg-item__pr
								img(src="images/reviews-pr.jpg", alt="", width="170", height="170")
							.reviews-msg-item__name
								| Антон Васильевич
						.reviews-msg-item__right
							.reviews-msg-item__title
								b
									| О проекте «Баня-бочка Б23 2х5м»
								|  (Московская область, Ногинский район, с. Алексеевка)
							.reviews-msg-item__desc
								| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности, экологическая чистота материалов — то, что отличает деревянные дома и бани от любых других построек. Это, а также качество и долговечность, кстати говоря, недорогой недвижимости из бруса заставляет людей задуматься о её покупке. Дома и бани из бруса под ключ приобретают всё большую популярность. Наши проекты - это тёплые, уютные деревянные дома, которые становятся любимым местом отдыха дачников как летом, так и зимой, а бани из бруса — неотъемлемым атрибутом здорового и приятного образа жизни.
							.reviews-msg-item__prs
								a.fancy(href="images/comment-attach.jpg")
									img(src="images/comment-attach.jpg", alt="", width="101", height="100")
								a.fancy(href="images/comment-attach.jpg")
									img(src="images/comment-attach.jpg", alt="", width="101", height="100")
								a.fancy(href="images/comment-attach.jpg")
									img(src="images/comment-attach.jpg", alt="", width="101", height="100")
								a.fancy(href="images/comment-attach.jpg")
									img(src="images/comment-attach.jpg", alt="", width="101", height="100")
					.reviews-msg__our.reviews-msg-our
						.reviews-msg-our__left
							img(src="images/logo.png", alt="", width="197", height="59")
						.reviews-msg-our__right
							.reviews-msg-our__desc
								| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности, экологическая чистота материалов — то, что отличает деревянные дома и бани от любых других построек. Это, а также качество и долговечность, кстати говоря, недорогой недвижимости из бруса заставляет людей задуматься о её покупке. Дома и бани из бруса под 


