.reviews
	header.reviews__header.clearfix
		.container
			.row
				.col-xs-12
					.clearfix
						.divider
					h2.text__h2.reviews__title
						| Отзывы клиентов
	.reviews__body
		.container
			.row
				.col-xs-12
					.reviews__prs
						.reviews__pr
							img(src="images/reviews-pr.jpg", alt="", width="170", height="170")
						.reviews__pr
							img(src="images/reviews-pr.jpg", alt="", width="170", height="170")
						.reviews__pr
							img(src="images/reviews-pr.jpg", alt="", width="170", height="170")
						.reviews__pr
							img(src="images/reviews-pr.jpg", alt="", width="170", height="170")
					.reviews__comments
						.reviews__comment.reviews-comment
							.reviews-comment__name
								| Антон Васильевич
							.reviews-comment__title
								b
									| О проекте «Баня-бочка Б23 2х5м»
									|  (Московская область, Ногинский район, с. Алексеевка)
							.reviews-comment__desc
								| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности, экологическая чистота материалов — то, что отличает деревянные дома и бани от любых других построек. Это, а также качество и долговечность, кстати говоря, недорогой недвижимости из бруса заставляет людей задуматься о её покупке. Дома и бани из бруса под ключ приобретают всё большую популярность. Наши проекты - это тёплые, уютные деревянные дома, которые становятся любимым местом отдыха дачников как летом, так и зимой, а бани из бруса — неотъемлемым атрибутом здорового и приятного образа жизни.
						.reviews__comment.reviews-comment
							.reviews-comment__name
								| Антон Васильевич
							.reviews-comment__title
								b
									| О проекте «Баня-бочка Б23 2х5м»
									|  (Московская область, Ногинский район, с. Алексеевка)
							.reviews-comment__desc
								| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности, экологическая чистота материалов — то, что отличает деревянные дома и бани от любых других построек. Это, а также качество и долговечность, кстати говоря, недорогой недвижимости из бруса заставляет людей задуматься о её покупке. Дома и бани из бруса под ключ приобретают всё большую популярность. Наши проекты - это тёплые, уютные деревянные дома, которые становятся любимым местом отдыха дачников как летом, так и зимой, а бани из бруса — неотъемлемым атрибутом здорового и приятного образа жизни.
						.reviews__comment.reviews-comment
							.reviews-comment__name
								| Антон Васильевич
							.reviews-comment__title
								b
									| О проекте «Баня-бочка Б23 2х5м»
									|  (Московская область, Ногинский район, с. Алексеевка)
							.reviews-comment__desc
								| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности, экологическая чистота материалов — то, что отличает деревянные дома и бани от любых других построек. Это, а также качество и долговечность, кстати говоря, недорогой недвижимости из бруса заставляет людей задуматься о её покупке. Дома и бани из бруса под ключ приобретают всё большую популярность. Наши проекты - это тёплые, уютные деревянные дома, которые становятся любимым местом отдыха дачников как летом, так и зимой, а бани из бруса — неотъемлемым атрибутом здорового и приятного образа жизни.
						.reviews__comment.reviews-comment
							.reviews-comment__name
								| Антон Васильевич
							.reviews-comment__title
								b
									| О проекте «Баня-бочка Б23 2х5м»
									|  (Московская область, Ногинский район, с. Алексеевка)
							.reviews-comment__desc
								| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности, экологическая чистота материалов — то, что отличает деревянные дома и бани от любых других построек. Это, а также качество и долговечность, кстати говоря, недорогой недвижимости из бруса заставляет людей задуматься о её покупке. Дома и бани из бруса под ключ приобретают всё большую популярность. Наши проекты - это тёплые, уютные деревянные дома, которые становятся любимым местом отдыха дачников как летом, так и зимой, а бани из бруса — неотъемлемым атрибутом здорового и приятного образа жизни.
