.filter-sorts
	.filter-sorts__column.filter-sorts__column_align_left
		.filter-sorts__text
			| Сортировать:
		.filter-sorts__criteria
			| По цене
		.filter-sorts__criteria.filter-sorts__criteria_active.filter-sorts__criteria_order_desc
			| По популярности
		.filter-sorts__criteria
			| По рейтингу
