.tags-filter__title
	| БЫСТРАЯ СОРТИРОВКА
.tags-filter
	.tags-filter__tag.btn.btn_theme_green
		| 6x4
		input.hidden(type="checkbox")
	.tags-filter__tag.btn.btn_theme_green
		| 6x6
		input.hidden(type="checkbox")
	.tags-filter__tag.btn.btn_theme_green
		| 6x8
		input.hidden(type="checkbox")
	.tags-filter__tag.btn.btn_theme_green
		| 6x10
		input.hidden(type="checkbox")
	.tags-filter__tag.btn.btn_theme_green
		| 6x12
		input.hidden(type="checkbox")
	.tags-filter__tag.btn.btn_theme_green
		| До 100 м2
		input.hidden(type="checkbox")
	.tags-filter__tag.btn.btn_theme_green
		| Маленькие
		input.hidden(type="checkbox")
	.tags-filter__tag.btn.btn_theme_green
		| Два этажа
		input.hidden(type="checkbox")
	.tags-filter__tag.btn.btn_theme_green
		| Недорогие
		input.hidden(type="checkbox")