.video
	.container
		.row
			.col-xs-12
				.clearfix
					.divider
				h2.text__h2.video__title
					| Отзывы наших клиентов
				.video__items
					.video__item
						+video-item()
					.video__item
						+video-item()
					.video__item
						+video-item()


