doctype html
html
	head
		include jade/head.jade
		title Главная
	body
		include jade/header.jade
		include jade/nav.jade
		include jade/main-slider.jade
		include jade/build.jade
		include jade/build-example.jade
		include jade/description.jade
		include jade/service.jade
		include jade/choose.jade
		include jade/reviews.jade
		include jade/numbers.jade
		include jade/maps.jade
		include jade/foo.jade

		include jade/scripts.jade