doctype html
html
	head
		include jade/head.jade
		title Главная
	body
		include jade/header.jade
		include jade/nav.jade
		include jade/breadcrumbs.jade
		include jade/project.jade
		include jade/foundation.jade
		include jade/project.service.jade
		include jade/send.jade
		include jade/projects.slider.jade
		include jade/foo.jade

		include jade/scripts.jade