doctype html
html
	head
		include jade/head.jade
		title Главная
	body
		include jade/header.jade
		include jade/nav.jade
		include jade/breadcrumbs.jade
		include jade/projects.description.jade
		include jade/projects.article.jade
		//- include jade/galleries.jade
		//- include jade/gallery.jade
		//- include jade/news.jade
		//- include jade/reviews.jade
		include jade/video.jade
		//- include jade/reviews-comment.jade
		include jade/send.jade
		include jade/foo.jade

		include jade/scripts.jade
